html,
body {
  height: 100%;
}

body {
  margin: 0;

  font-family: Arial;
  font-size: 14px;
  line-height: 1.6;
  color: $regular-font-color;

  background-color: $body-bg-color;
  overflow-x: hidden;
}

body.nav--is-open {
  overflow: hidden;
}

body.modal-open {
  position: fixed;

  width: 100%;

  overflow: hidden;
}

[aria-hidden='true'] {
  display: none;
}

input[type=text]::-ms-clear {
  display: none;
}

.clearfix:after {
  display: table;
  clear: both;

  content: '';
}
