@font-face {
  font-family: 'fs_albert_bold';
  src: url('/uk/assets/fonts/fsalbert-bold-webfont.woff2') format('woff2'),
       url('/uk/assets/fonts/fsalbert-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fs_albert_bold_italic';
  src: url('/uk/assets/fonts/fsalbert-bolditalic-webfont.woff2') format('woff2'),
       url('/uk/assets/fonts/fsalbert-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fs_albert_extrabold';
  src: url('/uk/assets/fonts/fsalbert-extrabold-webfont.woff2') format('woff2'),
       url('/uk/assets/fonts/fsalbert-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fs_albert_italic';
  src: url('/uk/assets/fonts/fsalbert-italic-webfont.woff2') format('woff2'),
       url('/uk/assets/fonts/fsalbert-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fs_albert_light';
  src: url('/uk/assets/fonts/fsalbert-light-webfont.woff2') format('woff2'),
       url('/uk/assets/fonts/fsalbert-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fs_albert_light_italic';
  src: url('/uk/assets/fonts/fsalbert-lightitalic-webfont.woff2') format('woff2'),
       url('/uk/assets/fonts/fsalbert-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fs_albert_thin';
  src: url('/uk/assets/fonts/fsalbert-thin-webfont.woff2') format('woff2'),
       url('/uk/assets/fonts/fsalbert-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fs_albert_thin_italic';
  src: url('/uk/assets/fonts/fsalbert-thinitalic-webfont.woff2') format('woff2'),
       url('/uk/assets/fonts/fsalbert-thinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fs_albert_regular';
  src: url('/uk/assets/fonts/fsalbert-webfont.woff2') format('woff2'),
       url('/uk/assets/fonts/fsalbert-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
