h1 {
  font-family: 'fs_albert_bold';
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-family: 'fs_albert_light';
  font-size: 32px;
  font-weight: 200;
}

h3 {
  font-family: 'fs_albert_light';
  font-size: 26px;
  font-weight: 200;
}

h4 {
  font-family: 'fs_albert_light';
  font-size: 18px;
  font-weight: 200;
}

a {
  color: $link-color;
  text-decoration: none;
}
