//MOBILE FIRST BREAKPOINTS
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;

// GRID SETTINGS
$columns: 12;
$margin: 10px;

$content-width: 1140px;

$ocean: #004282;
$sky: #008dc8;
$meadow: #088f8a;
$slate: #383c3d;
$pebble: #f4f4f4;
$grey: #e3e3e3;
$grey2: #f2f2f2;
$grey3: #f5f5f5;
$grey4: #cfcfcf;
$snow: #ffffff;
$lava: #c52633;
$sun: #f7a105;
$leaf: #11c933;
$business_blue: #062c42;

$regular-font-color: #353535;
$italic-font-color: #4b4848;
$link-color: $sky;

$navbar-bg-color: $ocean;
$body-bg-color: $grey2;
$tabs-bg-color: $grey4;

$grid-item-border: 1px solid $grey;

$input-height: 42px;
$select-border-color: #bdbdbd;
