.breadcrumb-col--top {
  display: none;
}

.breadcrumb-col--bottom {
  margin-top: -20px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  overflow: auto;
  list-style: none;
}

.breadcrumbs__item {
  float: left;
  margin-right: 5px;

  a,
  span {
    position: relative;

    display: block;
    padding: 10px 20px 10px 0;
  }

  a:after {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 15px;
    margin-left: 5px;

    background-image: url('assets/images/breadcrumb-arrow.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 8px;

    content: '';
  }
}

@media (min-width: $medium) {
  .breadcrumb-col--top {
    display: block;
  }

  .breadcrumb-col--bottom {
    display: none;
  }
}
