.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 12px;

  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;

  border: 1px solid transparent;
  border-radius: 4px;
  background-image: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;

  touch-action: manipulation;

  &:active {
    outline: none;
  }
}

.btn-secondary {
  color: $sky;

  border: 1px solid $sky;
  background: #fff;

  &:hover {
    color: #376194;

    border-color: #376194;
  }

  &:active {
    color: #fff;

    background: linear-gradient(to bottom, $sky, #107cbb);
  }
}

.btn-primary {
  font-family: 'fs_albert_bold', sans-serif;
  color: #fff;

  border: 0;
  border-radius: 4px;
  background: #008dc8;
  background: linear-gradient(to bottom, $sky, #107cbb);

  &:hover {
    color: #fff;

    border-color: #204d74;
    background: linear-gradient(to bottom, #107cbb, $sky);
  }

  &:active {
    color: #fff;

    border-color: #122b40;
    background-color: #204d74;
  }
}
