.footer {
  background: #1a1a1a;
  background: linear-gradient(to bottom, #3e3e3e, #2a2a2a);
  padding-bottom: 20px;
}

.footer__content {
  max-width: $content-width;
  margin: 0 auto;
}

.footer__content--desktop {
  display: none;
}

.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  border-bottom: 1px solid #464646;
  color: #bdbdbd;
  line-height: 42px;
  vertical-align: middle;
  display: block;
  text-align: center;
}

.footer__menu--social {
  font-size: 0;
  overflow: auto;
  text-align: center;

  li {
    display: inline-block;
    margin: 10px 0 0;
    padding: 0 10px;
  }

  a {
    display: block;
  }
}

.footer__social-media-menu__title {
  margin: 16px 0 0;
  color: #bdbdbd;
  font-size: 14px;
  font-family: inherit;
  text-align: center;
}

.paypal-link {
  margin: 10px 0 0;
  text-align: center;

  a {
    display: inline-block;
  }
}

.espot-menu {
  margin: 10px 0 0;
}

.footer__menu--espot {
  text-align: center;

  li {
    border-left: 1px solid #e5e6eb;
    color: #bdbdbd;
    font-size: 12px;
    margin: 10px 0 0 0;
    padding: 0 0 0 8px;
    margin-left: 8px;
    display: inline-block;
  }

  li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
  }

  a {
    color: #bdbdbd;
    display: block;
  }
}

.travelodge-copy {
  margin-top: 20px;
  text-align: center;

  span {
    color: #bdbdbd;
    font-size: 14px;
  }
}

@media (min-width: $large) {
  .footer__content {
    padding: 20px 5px;
  }

  .footer__content--mobile {
    display: none;
  }

  .footer__content--desktop {
    display: block;
  }

  .menu-block {
    h3 {
      border-bottom: 1px solid #454545;
      color: #dcdcdc;
      font-family: 'fs_albert_light';
      font-size: 20px;
      margin: 0 0 15px;
      padding: 0 0 4px;
    }

    .footer__menu {
      a {
        color: #dcdcdc;
        display: block;
        font-family: 'fs_albert_light';
      }
    }
  }

  .footer__row--spacer {
    border-top: 1px solid #454545;
    width: 100%;
    margin: 20px 0;
  }

  .app-promo {
    h3 {
      padding: 0 0 8px;
      font-family: 'fs_albert_light';
      color: #dcdcdc;
      font-size: 20px;
      margin: 0 0 15px 0;
    }

    p {
      color: #dcdcdc;
      margin: 8px 0 0;

      a {
        color: #bdbdbd;
        font-size: 14px;
        padding: 4px 0;
      }
    }
  }

  .footer__menu--espot {
    float: left;
    text-align: left;

    li {
      line-height: 20px;
    }
  }

  .paypal-link {
    float: left;
    margin: 5px 0 0 10px;
  }

  .help-links {
    float: right;
  }

  .social-media {
    align-items: center;
    display: flex;
    float: right;

    h3 {
      color: #bdbdbd;
      font-size: 12px;
      font-family: inherit;
      margin: 0 20px 0 0;
      padding: 0;
    }

    a:not(:last-child) {
      color: #bdbdbd;
      align-items: center;
      display: flex;
      font-size: 12px;
      margin-right: 5px;
      img {
        margin-right: 5px;
      }
    }
  }
}
