.header__search-form {
  min-height: 230px;

  color: $snow;

  background: rgba($ocean, .8);

  .search-component {
    flex: 1;
  }
}

.search-form {
  display: flex;
  padding: 10px;

  flex-wrap: wrap;
}

.search-form__field {
  display: flex;
  margin-bottom: 10px;

  flex-direction: column;

  flex: 1;

  label {
    margin-bottom: 4px;

    font-size: 12px;
    color: #fff;
  }
}

.field__label--check-in {
  display: none;
}

.field__input {
  position: relative;

  display: flex;

  flex: 0 0 $input-height;

  .input-holder {
    border-radius: 0 3px 3px 0;

    flex: 1;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    height: $input-height;
    padding: 0 6px;

    font-size: 16px;
    color: #333;

    border: none;
    border-radius: 0 3px 3px 0;
  }

  .field__input-icon {
    display: block;
    width: 30px;

    border-right: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;

    a {
      display: block;
      width: 100%;
      height: 100%;

      cursor: pointer;
    }
  }

  .field__clear-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;

    width: 30px;
    padding: 0;

    font-size: 14px;
    color: #555;

    border: none;
    border-radius: 0 3px 3px 0;
    background: #fff;
    cursor: pointer;
  }

  .input-stepper {
    flex: 1;
  }

  .twitter-typeahead {
    width: 100%;
  }

  .tt-menu {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;

    display: none;
    float: left;
    box-sizing: border-box;
    width: 100%;
    min-width: 160px;
    margin: 10px 0 0;
    padding: 5px 0;

    font-size: 14px;
    text-align: left;

    border: 1px solid #bababa;
    background-color: #fff;
    background-clip: padding-box;
    list-style: none;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      left: 10px;

      display: block;

      border: solid transparent;
      border-width: 8px;

      content: '';
    }

    &:before {
      margin-top: -17px;

      border-bottom-color: #bababa;
    }

    &:after {
      margin-top: -16px;

      border-bottom-color: #fff;
    }
  }

  .tt-suggestion {
    padding: 10px;

    font-weight: normal;
    line-height: 1.42857;
    color: #333;

    &:hover {
      color: #262626;
      text-decoration: none;

      background-color: #f5f5f5;
      cursor: pointer;
    }
  }

  .tt-suggestion.tl-suggestion {
    padding-left: 30px;

    color: #004282;

    background-image: url(assets/images/travelodge_sm.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
  }
}

.field__input--datepicker {
  .datepicker-container {
    position: absolute;
    z-index: 1000;

    display: none;
    width: auto;
    margin-top: 10px;
    padding: 12px;

    font-family: 'fs_albert_light';
    color: #3b3b3b;

    border: 1px solid $grey;
    background: $snow;

    &.check-in-datepicker {
      left: 0;

      &:before,
      &:after {
        left: 15px;
      }
    }

    &.check-out-datepicker {
      right: 0;

      &:before,
      &:after {
        right: 15px;
      }
    }
  }

  .datepicker-container.is-open {
    display: block;
  }

  .datepicker-container:before,
  .datepicker-container:after {
    position: absolute;
    top: 0;

    display: block;
    margin-top: -16px;

    border: solid transparent;
    border-width: 8px;
    border-bottom-color: #fff;

    content: '';
  }

  .datepicker-container:before {
    margin-top: -17px;

    border-bottom-color: #bababa;
  }

  .datepicker-title {
    margin-bottom: 10px;

    font-size: 18px;
    text-align: center;
  }

  .datepicker__buttons {
    display: flex;
    margin: 0 -4px 15px;
  }

  .datepicker__btn {
    padding: 12px 0;
    flex: 1;
    border: 1px solid #3b3b3b;
    box-sizing: border-box;
    background: none;
    color: #3b3b3b;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 4px;

    &.is-active {
      background: #0f79bc;
      border: 1px solid #0f79bc;
      color: #fff;
    }
  }

  .ui-datepicker-header {
    position: relative;

    display: flex;
    height: 36px;
    margin-bottom: 10px;

    font-size: 18px;

    align-items: center;
    justify-content: center;
  }

  .ui-datepicker-prev {
    left: 0;

    background: url('assets/images/calendar_arrow_left.png') no-repeat 50%;
  }

  .ui-datepicker-next {
    right: 0;

    background: url('assets/images/calendar_arrow_right.png') no-repeat 50%;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    position: absolute;
    top: 0;

    width: 25px;
    height: 35px;

    font-size: 0;

    border: none;
    cursor: pointer;
  }

  #ui-datepicker-div .ui-datepicker-calendar th {
    padding: .7em .3em;

    font-weight: bold;
    color: #3b3b3b;
    text-align: center;

    border: 0;
  }

  .ui-datepicker-calendar {
    width: 100%;
    margin: 0 0 .4em;

    font-size: .9em;

    border-collapse: collapse;
  }

  .ui-datepicker td {
    padding: 1px;

    border: 0;
  }

  .ui-datepicker td span,
  .ui-datepicker td a {
    display: block;

    font-size: 14px;
    line-height: normal;
  }

  .ui-state-disabled {
    cursor: default !important;
  }

  .ui-state-disabled:not(.hightlight),
  .ui-widget-content .ui-state-disabled:not(.hightlight),
  .ui-widget-header .ui-state-disabled:not(.hightlight) {
    opacity: .35;
  }

  .ui-state-default {
    display: block;
    margin: 1px;
    padding: 9px;

    font-weight: bold;
    color: #3b3b3b;
    text-align: center;

    background: none;
  }

  .highlight {
    opacity: 1!important;

    > span,
    > a {
      color: #fff;

      border-radius: 100%;
      background: #0f79bc;
    }
  }

  .ui-state-active {
    color: #fff;

    border-radius: 100%;
    background: #0f79bc;
  }
}

.field__input--totals {
  display: flex;
  padding: 0 6px;

  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;

  .total-block {
    flex: 1;
  }
}

.total-block {
  display: flex;

  font-size: 12px;
  color: #333;

  align-items: center;

  .total-value,
  .total-icon {
    display: flex;
    height: 42px;

    align-items: center;
    flex: 1;
    justify-content: center;
  }

  .total-icon {
    min-width: 40px;

    flex: 2;
  }

  .total-icon--rooms {
    background: url('assets/images/i_room_dark.png') no-repeat 50%;
  }

  .total-icon--guests {
    background: url('assets/images/i_person_dark.png') no-repeat 50%;
  }
}

.location-field-component {
  flex: 1 0 100%;
}

.field-location {
  input {
    padding-right: 30px;

    outline: none;
  }

  .field__input-icon {
    background-image: url('assets/images/i_location.png');
  }
}

.field-check-in .field__input-icon,
.field-check-out .field__input-icon {
  background-image: url('assets/images/i_calendar.png');
}

.field-guests--single,
.field-nights {
  display: none;
}

.search-form__submit-btn-container {
  display: flex;
  width: 100%;
  margin-top: 10px;

  .search-form__submit-btn {
    flex: 1;
    height: 43px;
  }
}

.inline-fields {
  display: flex;

  .search-form__field {
    flex: 1;
  }

  .search-form__field:first-child {
    margin-right: 10px;
  }
}

.form-row--guests {
  width: 40%;
}

.form-row--dates {
  width: 60%;

  flex: none;
}

.field-check-out {
  display: none;
}

.guests-inputs {
  @extend .inline-fields;

  .room-accessible {
    display: none;
  }

  .field__label {
    display: none;
  }
}

.search-form__submit-btn {
  padding: 10px;

  font-family: 'fs_albert_bold';
  font-size: 18px;
  color: $snow;

  border: none;
  border-radius: 3px;
  background: #008dc8;
  background: linear-gradient(to bottom, #008dc8, #107cbb);
  cursor: pointer;

  &:hover {
    background: #008dc8;
    background: linear-gradient(to bottom, #107cbb, #008dc8);
  }
}

@media (min-width: $small) {
  .header__search-form {
    min-height: 85px;
    margin-bottom: 20px;
    padding: 10px 5px 15px;
  }

  .field__input {
    input {
      font-size: 12px;
    }
  }

  .search-form {
    flex-direction: row;

    flex-wrap: wrap;
  }

  .search-form__field {
    margin-bottom: 0;
  }

  .location-field-component {
    margin-right: 10px;

    flex: 1;
  }

  .form-row--dates {
    margin-right: 10px;

    flex-direction: row;

    flex: 1;
  }

  .form-row--guests {
    margin-right: 0;

    flex: 0 0 120px;
  }

  .field-guests--single,
  .field-nights {
    display: none;
  }

  .field-check-out {
    display: flex;
  }

  .field__label--date {
    display: none;
  }

  .field__label--check-in {
    display: block;
  }

  .search-form__submit-btn-container {
    display: flex;
    width: 100%;
    margin-top: 10px;

    text-align: right;

    .search-form__submit-btn {
      margin-left: auto;

      flex: 0 0 120px;
    }
  }
}

@media (min-width: $medium) {
  .search-form__submit-btn-container {
    align-items: flex-end;
    margin-top: auto;

    flex: 0 0 120px;

    .search-form__submit-btn {
      flex: 1;
    }
  }

  .form-row--guests {
    margin-right: 10px;
  }

  .field__input--datepicker {
    .datepicker-container {
      &.check-in-datepicker,
      &.check-out-datepicker {
        right: auto;
        left: 0;

        &:before,
        &:after {
          right: auto;
          left: 15px;
        }
      }
    }
  }
}

@media (min-width: $large) {
  .form-row--guests {
    margin-right: 10px;
  }
}
