.header__content {
  background-color: $body-bg-color;
  max-width: $content-width;
  margin: 0 auto;
}

.header__title {
  background: rgba($ocean, 0.8);
  box-sizing: border-box;
  color: $snow;
  display: inline-block;
  font-size: 25px;
  margin: 10px 0 0;
  padding: 10px;
  width: 100%;
}

@media (min-width: $small) {
  .header {
    position: relative;
    padding: 0 5px;
  }

  .header-image {
    background-size: cover;
    background-position: 50% 26%;
    overflow: hidden;
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    filter: blur(5px);
    z-index: -1;
  }

  .header__title {
    margin: 30px auto 20px 0;
  }

  .header__content {
    background: none;
  }
}
