.hotel-grid-item {
  display: flex;

  @extend .col;
  @extend .col--xs-12;
  @extend .col--md-6;
  @extend .col--lg-4;
  @extend .col--xlg-3;
}

.hotel-grid-item__inner {
  background-color: $snow;
  border: $grid-item-border;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 10px;
  overflow: hidden;
}

.hotel-grid-item__image {
  font-size: 0;
  margin: -1px -1px 15px -1px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.hotel-grid-item__content {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  padding: 0 10px 15px;
}

.hotel-grid-item__title {
  margin: 0 0 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hotel-grid-item__trip-advisor-rating {
  display: none;
  height: 30px;
  margin-bottom: 10px;
}

.hotel-grid-item__address {
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hotel-grid-item__description {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    font-weight: bold;
  }
}

.hotel-grid-item__price {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-top: auto;
}

.hotel-grid-item__price__value {
  font-size: 30px;
  font-weight: bold;
  margin-left: 5px;
}
