.hotel--grid {
  @extend .grid;
}

.hotel-grid__row {
  @extend .grid__row;
}

.hotel-grid__header {
  margin-bottom: 15px;
}

.hotel-grid__title {
  margin: 0;
}

.hotel--grid__body {
  display: flex;
}

@media (min-width: $small) {
  .hotel--grid {
    padding: 0 10px;
  }
}
