.link-accordion__body {
  display: block;
}

.link-accordion__header {
  display: flex;

  background: $snow;
}

.link-accordion__toggle-btn {
  position: relative;

  min-height: 62px;
  padding: 6px 35px 6px 15px;

  font-size: 16px;
  font-weight: 200;
  line-height: 1.6;
  text-align: left;

  border: none;
  border-bottom: 1px solid $grey;
  background: none;
  cursor: pointer;

  flex: 1 1 auto;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 35px;

    background-image: url('assets/images/drop-down-arrow.png');
    background-repeat: no-repeat;
    background-position: 0 50%;

    content: '';
  }
}

.link-accordion__row {
  margin-bottom: 3px;

  background: $snow;

  a {
    display: block;
    padding: 10px 20px;

    font-size: 12px;
    text-decoration: none;
  }
}

@media (min-width: $small) {
  .link-accordion__body {
    display: none;
  }

  .link-accordion--is-open {
    .link-accordion__body {
      display: block;
    }
  }
}
