.modal-dialog {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  color: #000;

  background: #fff;
}

.modal-dialog__header {
  position: relative;

  box-sizing: border-box;
  height: 61px;
  padding: 10px;

  background: #383c3d;
}

.modal-dialog__title {
  margin: 0;

  font-size: 20px;
  line-height: 41px;
  color: #fff;
  text-align: center;
}

.modal-dialog__close-btn {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;

  width: 41px;
  height: 41px;

  font-size: 0;

  border: none;
  background: url('assets/images/i_x.png') no-repeat;
}

.modal-dialog__body {
  position: absolute;
  top: 61px;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 10px 8px 40px;

  overflow: auto;
}

.modal-dialog-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, .5);
}

.modal-dialog__body {
  .rooms {
    .title {
      margin: 0 0 6px 0;
      padding: 0;

      font-family: 'fs_albert_bold';
      font-size: 16px;
      font-weight: normal;
      color: #464646;
    }
  }

  .btn-primary {
    font-size: 22px;
  }

  .btn-secondary {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 14px;

    font-size: 22px;

    .iAdd {
      display: inline-block;
      width: 9px;
      height: 16px;

      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAMAAABR24SMAAAAG1BMVEUBkMgBkMgBkMgBkMgBkMgBkMgBkMgBkMgBkMi/vZLLAAAACHRSTlMAIEB/j7/P3y22DcsAAAAnSURBVHgBYwACJmZGBghg5mDCxeKAAlYGVlZWdg42VlYW/DoQJgMAKa4A0scAdIAAAAAASUVORK5CYII=);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }
}

@media (min-width: $small) {
  .modal-dialog {
    top: 10px;
    bottom: 10px;
    min-height: auto;

    width: 500px;
    margin: auto;

    overflow: hidden;
  }

  .modal-dialog__body {
    padding-right: 15px;
    padding-left: 15px;
  }
}
