.modal-search-form {
  .field__input {
    input {
      border: 1px solid #bdbdbd;
    }
  }

  .field__input-icon {
    border: 1px solid #bdbdbd;
    border-right: none;
    background-color: #fff;
  }

  .search-form__field {
    label {
      font-size: 14px;
      color: #353535;
    }
  }

  .location-field-component {
    display: block;
    margin-right: 0;
  }

  .field-location {
    margin-bottom: 10px;

    label {
      display: none;
    }
  }

  .form-row--dates {
    width: auto;
    margin-right: 0;
  }

  .field-check-out {
    display: flex;
  }

  .search-form__submit-btn-container {
    padding-bottom: 40px;

    .search-form__submit-btn {
      flex: 1 1 auto;
    }
  }
}
