.nav {
  background-color: $navbar-bg-color;
  border-bottom: 5px solid $meadow;
  padding: 0 10px;
}

.nav__content {
  max-width: 1140px;
  margin: 0 auto;
}

.nav__col {
  @extend .col;
  align-items: center;
  display: flex;
  height: 65px;
  margin: 0;
}

.nav__logo {
  background: url('assets/images/logo.png') no-repeat -2px 50%;
  background-size: 90% 90%;
  width: 166px;
  height: 42px;
}

.nav__hamburger {
  background: url('assets/images/hamburger.png') no-repeat;
  display: block;
  height: 42px;
  margin-right: auto;
  width: 42px;
}

.nav__basket {
  width: 42px;
  height: 42px;
  display: block;
  margin-left: auto;
  position: relative;

  .nav__basket__icon {
    background: url('assets/images/basket.png') no-repeat;
    display: block;
    width: 41px;
    height: 41px;
  }
}

.nav__menu {
  display: none;
}

.nav__login-btn {
  display: none;
}

.mobile-nav {
  background-color: #333;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.4s;
  transform: translate3d(-100%, 0, 0);
  z-index: 1;
  -webkit-overflow-scrolling: touch;

  .mobile-nav__header {
    flex: 0 0 60px;
  }

  .mobile-nav__body {
    flex: 1;
    padding-bottom: 20px;
  }
}


.nav--is-open .mobile-nav {
  transform: translate3d(0, 0, 0);
}

.mobile-nav__header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}

.mobile-nav__body {
  padding: 0 15px;
}

.mobile-nav__close-btn {
  background: url('assets/images/i_x.png') no-repeat;
  border: none;
  height: 41px;
  width: 41px;
  font-size: 0;
}

.mobile-nav__login-btn {
  background: url('assets/images/i_person_light.png') no-repeat 10px 50%;
  border: 1px solid $snow;
  color: $snow;
  padding: 10px 10px 10px 40px;
}

.mobile-nav__menu {
  padding: 0;
  margin: 0;

  a {
    border-bottom: 1px solid #dfdfdf;
    color: $snow;
    display: block;
    font-family: 'fs_albert_light';
    font-size: 20px;
    padding: 17px 10px;
  }
}

@media (min-width: $large) {
  .nav__hamburger {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  .nav--is-open {
    .mobile-nav {
      display: none;
    }
  }

  .nav__basket {
    margin-right: 0;
    margin-left: 38px;
  }

  .nav__menu {
    display: block;
    margin-left: auto;
    padding: 0;
    list-style: none;
  }

  .nav__menu-item {
    float: left;
    margin-left: 10px;

    a {
      color: $snow;
      display: block;
    }

    a:hover {
      color: #699ec3;
    }
  }

  .nav__login-btn {
    background: #008dc8;
    background: linear-gradient(to bottom, #008dc8, #107cbb);
    border-radius: 4px;
    cursor: pointer;
    color: $snow;
    display: block;
    font-family: 'fs_albert_bold';
    margin-left: 15px;
    padding: 0 15px;
    line-height: 32px;
    min-height: 32px;
    text-decoration: none;
  }

  .nav__login-btn:active,
  .nav__login-btn:hover {
    color: #699ec3;
    background: #008dc8;
    background: linear-gradient(to bottom, #107cbb, #008dc8);
  }
}
