.region-destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.region-destinations__toggle {
  align-items: center;
  background: none;
  border: none;
  color: #dcdcdc;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'fs_albert_light';
  font-size: 16px;
  margin: 0 auto;

  .i-chevron-down {
    margin-top: 12px;
  }
}

.i-chevron-down {
  background-image: url(assets/images/i_circle_down.png);
  height: 33px;
  width: 33px;
  display: inline-block;
  vertical-align: middle;
  transition-duration: 0.2s;
}

.region-destinations__link-grid {
  display: none;
}

.region-destinations--is-open .region-destinations__link-grid {
  display: none;
}

.region-destinations__title {
  border-bottom: 1px solid #454545;
  font-size: 20px;
  color: $snow;
  margin: 0;
  padding-bottom: 10px;
}

.region-destinations__menu {
  padding: 0;
  margin: 0 -6px;
}

.region-destinations__link {
  @extend .col--lg-3;
  float: left;
  list-style: none;

  a {
    color: $snow;
    font-family: 'fs_albert_light';
    font-size: 16px;
    display: block;
    padding: 4px 6px;
  }
}

@media (min-width: $large) {
  .region-destinations--is-open .region-destinations__link-grid {
    display: block;
  }
}
