.social__nav {
  display: flex;
  margin: 10px 0 0;
  padding: 0;

  overflow: auto;
  list-style: none;
}

.social__nav-label {
  margin-left: 2px;

  line-height: 33px;

  background-color: $grey;

  a {
    display: block;
    width: 30px;
    height: 33px;
  }
}

.social__nav-label--placeholder {
  margin-left: auto;
  padding: 0 10px;
}

.social__nav-label--facebook a {
  background: url('assets/images/fb.jpg') no-repeat;
}

.social__nav-label--twitter a {
  background: url('assets/images/twitter.jpg') no-repeat;
}

.social__nav-label--google-plus a {
  background: url('assets/images/gplus.jpg') no-repeat;
}

@media (min-width: $small) {
  .social__nav {
    margin-top: 15px;
  }
}
