.tabs {
  background-color: $grey4;
  margin-bottom: 15px;
  padding: 10px;
}

.tabs__active-tab {
  background-color: $snow;
  color: initial;
  display: block;
  padding: 10px 15px;
  position: relative;

  &:after {
    background-image: url('/uk/assets/images/drop-down-arrow.png');
    background-repeat: no-repeat;
    background-position: 0 50%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35px;
  }
}

.tabs__list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 3px 0 0;
}

.tabs__list--is-open {
  display: block;
}


.tabs__tab {
  background-color: $snow;
  margin-bottom: 2px;

  a {
    color: initial;
    display: block;
    padding: 10px 20px;
  }
}

@media (min-width: $medium) {
  .tabs {
    background-color: $body-bg-color;
    border-bottom: 1px solid $grey;
    padding: 0 10px;
  }

  .tabs__active-tab {
    display: none;
  }

  .tabs__list {
    display: block;
    overflow: auto;
  }

  .tabs__tab {
    border: 1px solid $grey;
    border-bottom: none;
    background-color: $grey;
    float: left;
    margin: 0 5px 0 0;

    a {
      padding: 5px 20px 15px;
    }
  }

  .tabs__tab--is-active {
    background-color: $snow;
  }
}
