.text-block__title {
  margin: 0 0 0.4em 0;
  line-height: 1.25em;
}

.text-block__content {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0 0 20px;
}

@media (min-width: $small) {
  .text-block {
    padding-right: 50px;
  }
}
