.unlock-now {
  width: 100%;
  padding: 10px;
  background: #004282;
  border-top: 5px solid #088f8a;
  box-sizing: border-box;
  position: relative;
}

.unlock-now__dismiss-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 161;
  height: 24px;
  width: 24px;
  padding: 10px;
  background: transparent url('/uk/assets/images/i_close_white.png') no-repeat 50%;
  background-size: 30px;
}

.unlock-now__title {
  display: block;
  width: 100%;
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  text-align: center;
  padding: 2px 0 4px;
  margin-bottom: 8px;
}

.unlock-now__form {
  max-width: 1184px;
  margin: 0 auto;

  h3 {
    color: $snow;
    margin: 0;
    text-align: center;
    line-height: 38px;
  }
}

.unlock-now__field {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  box-sizing: border-box;
  color: #555;
  display: block;
  font-size: 14px;
  height: 38px;
  line-height: normal;
  outline: none;
  padding: 0 5px;
  width: 100%;
  -webkit-appearance: none;
  margin-bottom: 8px;

  &.has-errors {
    border: 2px solid #c52633;

    &::-webkit-input-placeholder {
      color: #c52633;
    }
  }
}

.unlock-now__submit-btn {
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: 'fs_albert_bold';
  font-size: 22px;
  background: #088f8a;
  outline: 0;
  min-height: unset;
  height: 38px;
  border: 0;
  line-height: 38px;
  padding: 0 20px;
  width: 100%;
}

@media (min-width: $medium) {
  .unlock-now__form {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .unlock-now__dismiss-btn {
    bottom: 0;
    height: auto;
  }

  .unlock-now__title {
    flex: 0 0 200px;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .unlock-now__field {
    flex: 0 0 260px;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .unlock-now__submit-btn {
    flex: 0 0 190px;
  }
}
