.weather-block {
  border: 1px solid $grey;
  background: $snow;
}

.darksky-link {
  color: #666;
  font-size: 10px;
  text-align: right;
  margin: 8px 0;

  a {
    color: #666;
    text-decoration: underline;
  }
}

.weather-block__header {
  padding: 5px 10px;

  border-bottom: 1px solid $grey;
  background: $grey3;
}

.weather-block__title {
  margin: 0;

  font-size: 18px;
}

.weather-block-row {
  display: flex;
  padding: 10px;

  border-bottom: 1px solid $grey;
}

.date-block {
  display: flex;
  padding: 0 10px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;

  background: $grey2;
  flex-direction: column;

  align-items: center;
  flex: 1 0 50px;
}

.temperature-block {
  display: flex;
  padding: 0 10px;

  align-items: flex-end;
  flex: 3;
  justify-content: space-between;
}

.weather-block-row__icon {
  display: flex;

  align-items: flex-end;
  justify-content: center;
  flex: 1 1 auto;
}
